/*******************************************************************************
#
# Main Style for map-temp.
#
*******************************************************************************/
map-temp,
map-temp .container {
    display: block;
    height: 100%;
    width: 100%;
}
