<!DOCTYPE html>
<html ng-app="main">
    <head>
        <meta charset="utf-8">
        <title>Google APIs</title>

        <!-- style -->
        <link href = "../css/reset.css" rel = "stylesheet" >
        <link href = "../css/style.css" rel = "stylesheet" >
        <link href = "assets/css/style.css" rel = "stylesheet" >
        <!-- /style -->
    </head>
    <body>

        <section ng-controller = "mainCtrl" name = "{{appName}}" ng-controller="MainCtrl">

            <h1> Google Maps API </h1>
            
            <span ng-bind="getValue()"></span>
            
            <div class="auto-complete-box">

                <input class="" id="pickup" type="text" auto-complete-temp map="map" placeholder="Enter current location" onfill="setPickup($Position, $Model, $CoreModel)" nameofinput="pickUp" onmarkerclick="handleMarkerClick($Event, $Model, $AutoCompScope)" ondrop="handleMarkerDrop($Event, $Model, $AutoCompScope)" ng-click="currentMarker='pickUp'" markerlabel='P'>

            </div>

            <div class="auto-complete-box">
                <input class="" type="text" auto-complete-temp map="map" placeholder="Enter current location" onfill="setDropoff($Position, $Model, $CoreModel, 'dropOff1')" onmarkerclick="handleMarkerClick($Event, $Model, $AutoCompScope)" nameofinput="dropOff1" ondrop="handleMarkerDrop($Event, $Model, $AutoCompScope)" ng-click="setCurrentDestination('dropOff1')" markerlabel="1">

            </div>

            <div class="map-container" map-temp configs="{id: 'main-map', lat: 13.740722, lng: 100.555531, markers: [{name: 'pickUp'}, {name: 'dropOff1'}, {name: 'dropOff2', show: 1}, {name: 'dropOff3', show: 1}, {name: 'dropOff4', show: 1}, {name: 'dropOff5', show: 1}, {name: 'dropOff6', show: 1}] }" ondirectionchange="handleDirectionChange($Leg, $parentScope, $Directions)" onmapclick="handleMapClick($Coords, $Pixel, $Za, $Event)"></div>

            <div class="auto-complete-box">

                    <input class="" type="text" auto-complete-temp map="map" placeholder="Enter current location" onfill="setDropoff($Position, $Model, $CoreModel, 'dropOff2')" nameofinput="dropOff2" ondrop="handleMarkerDrop($Event, $Model, $AutoCompScope)" onmarkerclick="handleMarkerClick($Event, $Model, $AutoCompScope)" onmarkerclick="handleMarkerClick($Event, $Model, $AutoCompScope)" ng-click="setCurrentDestination('dropOff2')" markerlabel="2">

            </div>

            <div class="auto-complete-box">

                    <input class="" type="text" auto-complete-temp map="map" placeholder="Enter current location" onfill="setDropoff($Position, $Model, $CoreModel, 'dropOff3')" onmarkerclick="handleMarkerClick($Event, $Model, $AutoCompScope)" nameofinput="dropOff3" ondrop="handleMarkerDrop($Event, $Model, $AutoCompScope)" ng-click="setCurrentDestination('dropOff3')" markerlabel="3">

            </div>

            <div class="auto-complete-box">

                <input class="" type="text" auto-complete-temp map="map" placeholder="Enter current location" onfill="setDropoff($Position, $Model, $CoreModel, 'dropOff4')" onmarkerclick="handleMarkerClick($Event, $Model, $AutoCompScope)" nameofinput="dropOff4" ondrop="handleMarkerDrop($Event, $Model, $AutoCompScope)" ng-click="setCurrentDestination('dropOff4')" markerlabel="4">

            </div>
            
            <button ng-click="optimize();">Optimize the Route</button>
            
            <div id="direction-panel"></div>
            
        </section>

        <!-- scripts -->
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src = "https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"></script>
        <script src = "../src/module.js"></script>
        <script src="../bower_components/ang-google-services/src/module.js"></script>
        <script src = "assets/js/main.module.js"></script>
        <!-- /scripts -->

    </body>
</html>
